---
layout: layouts/base.njk
title: "Home"
permalink: /
---

<style>
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 40px;
		padding: 0 40px 70px 40px;
		font-size: 20px;
	}

	#input {
		height: 50vh;
		font-family: monospace;
		font-size: 20px;
	}

	#output {
		height: 50vh;
		background-color: #fff;
	}
</style>

<h1 class="text-center display-1 mb-5 mt-5">Learn to Markdown!</h1>

<div class="grid-container">
	<div>
		<h2>Put your code below ⬇</h2>
		<textarea aria-label="Input your markdown here" id="input" class="form-control" placeholder=""></textarea>
	</div>

	<div>
		<h2>And watch it show up here 🎇</h2>
		<div id="output" class="form-control"></div>
	</div>
</div><!-- end container -->

<p class="text-center"><a href="https://www.markdownguide.org/basic-syntax/" target="_blank" rel="noopener" class="btn btn-success">Stuck? Click here for help!</a></p>


{# https://marked.js.org/using_advanced #}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
	let input = document.getElementById("input");
	let output = document.getElementById("output");

	input.addEventListener("input", function() {
		console.log(marked(this.value))
		output.innerHTML = marked(this.value);
	})

</script>
